/node_modules
/public/hot
/public/storage
/public/blog_images
/storage/*.key
/public/uploaded_file
.env
.phpunit.result.cache
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
