// default color set
$primary-color : #6258FB;
// color variation
$hover-color : #6258FB;
// title color

// social color

// body var
$iconFontawesome: 'FontAwesome';
$bodyFont:  'Hind Vadodara', sans-serif;
$titleFont: 'Roboto', sans-serif;
$fontWeight: 500;
$bColor: #666666;
$bfSize: 18px;
$blineHeight: 28px;
$transition:all .5s;

