// default color set
$primary-color : #6258FB;
// color variation
$hover-color : #574DEA;
// title color

// social color

// body var
$iconFontawesome: 'FontAwesome';
$iconFlaticon: 'Flaticon';
$bodyFont: 'Hind Vadodara', sans-serif;
$fontWeight: 500;
$bColor: #666666;
$bfSize: 15px;
$blineHeight: 26px ;
$transition:all .5s;

